@charset "utf-8";

body {
    background-color: antiquewhite;
    width: min(100%, 1020px);
    margin-left: auto;
    margin-right: auto;
}

section {
    border-width: medium;
    border-color: black;
    border-style: solid none;
    padding: 5px;
}

.bluebutton,
.greenbutton,
.redbutton {
    width: 100px;
    height: 30px;

    font-size: medium;
    font-weight: bold;
    color: white;

    margin: 10px 3px 3px 3px;
    border: none;
}

.greenbutton {
    background-color: green;
}

.redbutton {
    background-color: red;
}

.bluebutton {
    background-color: blue;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

#products {
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar a {
    margin: 10px;
}

#search {
    width: 200px;
}

#products {
    width: 700px;
}

img {
    width: 100%;
    height: 100%;
}

.item {
    width:300px;
    height:300px;
    margin: 20px;
}
